@import url(https://fonts.googleapis.com/css?family=Raleway:500,700);

* {
	box-sizing: border-box;	
}

body {
	margin: 0 auto;
	padding: 0 0;
	font-family: 'Raleway';
	color: white;
}

nav {
	background-color: #313332;
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0px;
	color: white;
	padding: 0 0px;
	z-index: 10;
}

.logo {
	float: left;
	line-height: 50px;
	text-align: center;
}

.logo img {
	margin-top: 10px;
}

.links {
	float: right;
}

.links ul {
	list-style-type: none;
	margin: 0 0;
	padding: 0 0px;
	padding-right: 20px;
}

.links ul li {
	display: inline-block;
	margin: 0 auto;
	line-height: 50px;
	padding: 0 20px;
}

.links ul li a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
}

.links ul li a:hover {
	color: #FFE489 /*#00cbdf*/;
}

.invit-banner {
	background-image:url("https://hd.unsplash.com/photo-1445510491599-c391e8046a68");
	background-size: cover;
	height: 100vh;
}

.slogan {
	position: relative;
	left: calc(100% - 550px);
	top: 40vh;
	opacity: 0.7;
	height: 30vh;
	width: 550px;
	background-color: #313332;
	margin: 0 0;
	padding: 40px 40px;
}

.slogan h1, .slogan p {
	color: white;
	opacity: 1;
	text-align: left;
}

.slogan h1 {
	margin-top: 0px;
}

.slogan p {
	font-size: 18px;
}

.buttons button {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: rgba(255, 228, 137, 0);
	margin: 0 20px;
	border: solid 5px #B9992F;
}

.buttons button:hover {
	cursor: pointer;
	background-color: #B9992F;
	border: solid 3px white;

}

.buttons {
	margin: 0 0;
	padding: 0 0;
	float: left;
	position: absolute;
	left: calc(50% - 100px);
	bottom: 10%;
	display: block;
}

.banner {
	height: calc(55vh - 50px);
	width: 83.33%;;
	margin: 0 auto;
	margin-top: 15vh;
	padding: 0 15px;
	padding-top: 50px;
	position: static;
}

.ic-desc {
	width: 33%;
	float: left;
	text-align: center;
}

.ic-desc:hover .icon {
	background: #DABC56;
	cursor: pointer;
}

.ic-desc:hover .description h1 {
	color: #DABC56;
	cursor: pointer;
}

.banner .ic-desc .description {
	color: black;
}

.description h1 {
	text-transform: uppercase;	
}

.banner .icon {
	display: inline-block;
	width: 80px;
	height: 80px;
	line-height: 80px;
	font-size: 40px;
	text-align: center;
	background: #313332;
	border-radius: 15%;
	margin: 0 auto;
}

.featured-strap {
	height: calc(45vh - 50px);
	width: 100%;
	padding: 5vh 30%;
	margin: 0 auto;

}

.featured-strap h1, .featured-strap p {
	color: #313332;	
	text-align: center;
}

.featured-strap h1 {
	text-transform: uppercase;
	color: #DABC56;
}

.gallery {
	height: calc(40vw - 6.8px);
	width: 100%;
	position: relative;
}

.gallery::before,
.gallery::after {
	clear: both;
	content: "";
	display: table;
}

.gallery .pic {
	height: calc(20vw - 3.4px);
	width: calc(20vw - 3.4px);
	float: left;
	margin: 0 auto;
	display: block;
	overflow: hidden;
}

.gallery .pic img:hover {
	z-index: 1;
}

.gallery .pic img {
	height: 100%;
	width: auto;
	min-width: 100%;
	margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.shadow {
	height: calc(20vw - 3.4px);
	width: calc(20vw - 3.4px);
	position: absolute;
	background-color: rgba(49, 51, 50, 0.6);
	z-index: 2;
	padding-left: calc(10% - 60px);
	
}

.shadow .shield {
	height: 50px;
	width: 50px;
	background-color: white;
	border-radius: 10%;
	display: inline-block;
	opacity: 1;
	position: relative;
	top: calc(50% - 25px);
	margin: 0 5px;
}

.shadow .shield i.fa {
	line-height: 30px;
	font-size: 30px;
	margin: 10px 10px;
	color: #313332;
	opacity: 1;
	text-align: center;
}



.gallery .shadow:hover {
	z-index: 3;
}

.gallery .shadow .shield:hover i {
	color: #DABC56;
	cursor: pointer;
}


.team {
	position: relative;
	height: calc(100vh - 50px);
	width: 83.33%;;
	margin: 0 auto;	
	padding-top: 25vh;
	text-align: center;
}

.portrait {
	position: relative;
	display: inline-block;
	color: #313332;
	text-align: center;
	width: 22%;
	margin: 0 5px;
	padding-top: 0px;
	vertical-align: top;
}

.picture {
	height: 15vw;
	width: 15vw;
	overflow: hidden;
	border-radius: 50%;
	margin: 0 auto;
	padding: 0 auto;
}

.portrait h2 {
	font-size: 22px;
}

.picture img {
	position: relative;
	min-height: 100%;
	max-height: 140%;
	min-width: 100%;
	margin: 0 auto;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centering-1 img{
	top: 70%;
}

.centering-3 img {
	top: 70%;
    left: 40%;
}

.centering-4 img {
	top: 68%;
    left: 52%;
}


.worker {
	width: calc(35vw + 30px);
	height: 55vh;
	background: rgba(84, 88, 86, 0.95);
	border-radius: 10px;
	border: solid 5px #DABC56;
	display: none;
	position: absolute;
	z-index: 3;
}

.desc-left{
	top: 0px;
	right: calc(100% + 20px);	
}

.desc-right{
	top: 0px;
	left: calc(100% + 20px);
}


.worker h2 {
	color: #DABC56;
}

.worker p {
	color: white;
	padding: 10px 10px;
}

.portrait:hover{
	cursor: pointer;
}

.portrait:hover .worker {
	display: inline-block;
}

/*.portrait:hover .picture {
	height: 17vw;
	width: 17vw;
}*/

.advert {
	height: 65vh;
	width: 100%;;
	padding: 0 8.33%;
	color: #313332;
	position: relative;
	background: #9C98D0;
}

.advert-title {
	position: absolute;
	top: 10vh;
	text-align: left;
	height: 30px;
	padding: 0 10px
}

.advert-title h1 {
	color: #DABC56;
	margin: 0 0px;
	line-height: 30px;
	height: 30px;
}

.advert-quote {
	float: left;
	display: inline-block;
	vertical-align: top;
	position: absolute;
	top: calc(10vh + 40px);
	padding: 0 10px;
	font-style: italic;
	line-height: 28px;
}

.advert-text {
	float: left;
	display: inline-block;
	position: absolute;
	top: calc(10vh + 40px);
	padding: 0 10px;
	padding-right: 40px;
	line-height: 28px;
	text-align: justify;
}

.advert-photomix {
	box-sizing: content-box;
	position: relative;
	top: 5vh;
	height: 25vw;
	width: calc(25vw - 1px);
	margin: 0px 0px;
	padding: 0px 0px;
	border-left: solid 20px #313332;
	border-right: solid 20px #313332;
	border-top: solid 20px #313332;
	border-bottom: solid 10px #313332;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	box-shadow: 0 4px 2px -2px #313332;
}


.advert-photomix table {
	height: 25vw;
	width: 25vw;
	padding: 0px 0px;
	margin: 0px 0px;
	border-collapse: collapse;
	overflow: hidden;
}


.table-1 {
	background-image: url("https://images.unsplash.com/photo-1430760814266-9c81759e5e55?dpr=1&auto=format&crop=entropy&fit=crop&w=767&h=542&q=80&cs=tinysrgb");
	background-size: cover;
}

.table-2 {
	background-image: url("https://images.unsplash.com/photo-1462289120039-eb38de447c9a?dpr=1&auto=format&crop=entropy&fit=crop&w=767&h=510&q=80&cs=tinysrgb");
	background-size: cover;
}

.table-3 {
	background-image: url("https://images.unsplash.com/photo-1462837019796-6f0204b48d95?dpr=1&auto=format&crop=entropy&fit=crop&w=767&h=512&q=80&cs=tinysrgb");
	background-size: cover;
}

.table-4 {
	background-image: url("https://images.unsplash.com/photo-1464537356976-89e35dfa63ee?dpr=1&auto=format&crop=entropy&fit=crop&w=767&h=431&q=80&cs=tinysrgb");
	background-size: cover;
}

.table-5 {
	background-image: url("https://images.unsplash.com/photo-1415829994762-1344c5d2dbe9?dpr=1&auto=format&crop=entropy&fit=crop&w=767&h=1151&q=80&cs=tinysrgb");
	background-size: cover;
}

.table-6 {
	background-image: url("https://images.unsplash.com/photo-1470608756445-2c9906b0680f?dpr=1&auto=format&crop=entropy&fit=crop&w=767&h=511&q=80&cs=tinysrgb");
	background-size: cover;
}

.table-7 {
	background-image: url("https://images.unsplash.com/29/night-square.jpg?dpr=1&auto=format&crop=entropy&fit=crop&w=767&h=505&q=80&cs=tinysrgb");
	background-size: cover;
}

.table-8 {
	background-image: url("https://images.unsplash.com/photo-1456418047667-56bcd35b1a88?dpr=1&auto=format&crop=entropy&fit=crop&w=767&h=511&q=80&cs=tinysrgb");
	background-size: cover;
}

.table-9 {
	background-image: url("https://images.unsplash.com/photo-1470181446350-2d7024be15be?dpr=1&auto=format&crop=entropy&fit=crop&w=767&h=510&q=80&cs=tinysrgb");
	background-size: cover;
}

.numbers {
	position: static;
	color: black;
	height: 35vh;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	padding: 10vh 0px;
	vertical-align: center;
}

.one-number {
	text-align: center;
	display: inline-block;
	padding: 10px 2vw;
	margin: 0 auto;
	
}

.one-number h2 {
	margin: 0 0px;
	font-size: 40px;
	color: #313332;
}


.one-number p {
	margin: 2px 0px;
	color: #DABC56;
	font-size: 20px;
	line-height: 26px;	
}

.footer {
	height: calc(55vh - 50px);
	width: 100%;
	padding: 0px 8.33%;
	background: #545856;
	margin: 0 auto;
}

.footer-column {
	position: relative;
	display: inline-block;
	float: left;
	height: calc(55vh - 50px);
	width: 33.33%;
	padding: 2vh 3%;
	margin-top: 0px;
}

.footer-column h2 {
	display: inline-block;
}

.footer-column hr {
	position: relative;
	display: inline-block;
	size: 5px;
	width: 25%;
	border-color: white;
	margin-left: 3%;
}

.footer-column p {
	margin: 16px auto;
}

.footer-column table {
	width: 100%;
	vertical-align: top;
	text-align: left;
	margin-top: 14px;	
	}


.footer-column table tr td {
	vertical-align: top;
	padding-bottom: 8px;
}

.footer-column i {
	background: #DABC56;
	height: 36px;
	width: 36px;
	line-height: 36px;
	text-align: center;
	font-size: 20px;
	margin: 4px 2px;
	border-radius: 10%;
	}
	
.footer-column i:hover {
	color: #4F4998;
	cursor: pointer;
}
	
.copyright {
	margin: 0 auto;
	height: 10vh;
	width: 100%;
	text-align: center;
	line-height: 10vh;
	background: #313332;
}

.copyright p {
	margin: 0 auto;
}


.col-offset-lg-0 {margin-left: 0;}
.col-offset-lg-1 {margin-left: 8.33%;}
.col-offset-lg-2 {margin-left: 16.66%;}
.col-offset-lg-3 {margin-left: 25%;}
.col-offset-lg-4 {margin-left: 33.33%;}
.col-offset-lg-5 {margin-left: 41.66%;}
.col-offset-lg-6 {margin-left: 50%;}
.col-offset-lg-7 {margin-left: 58.33%;}
.col-offset-lg-8 {margin-left: 66.66%;}
.col-offset-lg-9 {margin-left: 75%;}
.col-offset-lg-10 {margin-left: 83.33%;}
.col-offset-lg-11 {margin-left: 91.66%;}
	
	
.col-lg-1 {width: 8.33%;}
.col-lg-2 {width: 16.66%;}
.col-lg-3 {width: 25%;}
.col-lg-4 {width: 33.33%;}
.col-lg-5 {width: 41.66%;}
.col-lg-6 {width: 50%;}
.col-lg-7 {width: 58.33%;}
.col-lg-8 {width: 66.66%;}
.col-lg-9 {width: 75%;}
.col-lg-10 {width: 83.33%;}
.col-lg-11 {width: 91.66%;}
.col-lg-12 {width: 100%;}




@media all and (max-width: 992px) and (min-width: 768px) {
  
.col-md-1 {width: 8.33%;}
.col-md-2 {width: 16.66%;}
.col-md-3 {width: 25%;}
.col-md-4 {width: 33.33%;}
.col-md-5 {width: 41.66%;}
.col-md-6 {width: 50%;}
.col-md-7 {width: 58.33%;}
.col-md-8 {width: 66.66%;}
.col-md-9 {width: 75%;}
.col-md-10 {width: 83.33%;}
.col-md-11 {width: 91.66%;}
.col-md-12 {width: 100%;}
  
  
  .gallery {
	overflow: visible;
	width: 100%;
	height: auto;
	position: static;
	float: left;
}


.gallery .pic {
	width: 100%;
	height: auto;
	float: left;
	margin: 0 auto;
	display: block;
	overflow: visible;
}


.gallery .pic img {
	width: 100%;
	margin: 0;
    position: static;
    transform: none;
}
  
  
  .links {
  float: left;
  padding-left: 3%;
  }
  
  
  .links ul li {
	line-height: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 15px;
  }
  
  .logo {
  line-height: 19px;
  }
  
  nav {
  	height: 50px;
    }

.buttons {
display: none;	
}

	.banner {
	width: 91.66%;
	float: left;
	}

	.featured-strap {
	padding: 5vh 20%;
	margin: 20px 0px;
	float: left;
	}
	
	.shadow {
	display: none; /* ponieważ zakładam, że to będzie wyświetlane na urządzeniach obsługiwanych palcem.*/
	}
	
	.team {
	padding-top: 10vh;	
	float: left;
	}
	
	.portrait {
	width: 46%;
	margin: 0 5px;
	padding-bottom: 20px;
}
	
	.portrait:hover{
	cursor: auto;
	}

	.portrait:hover .worker {
	display: none;
}


	.advert {
	float: left;
	margin: 20px 0px;
	}
	
	.advert-photomix {
	top: 20vh;
}

	.numbers {
	height: 45vh;
	padding: 5vh 0px;
	float: left;
}

	.footer {
	padding: 0px 0px;	
	margin: 20px auto;
	margin-bottom: 0px;
	float: left;
	}

	.footer-column table{
	max-width: 100%;
	table-layout: fixed;
	}
	.copyright {
	float: left;	
	}
}

@media all and (max-width:767px) {

.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}

.col-s-offset-0 {margin-left: 0;}
.col-s-offset-1 {margin-left: 8.33%;}
.col-s-offset-2 {margin-left: 16.66%;}
.col-s-offset-3 {margin-left: 25%;}
.col-s-offset-4 {margin-left: 33.33%;}
.col-s-offset-5 {margin-left: 41.66%;}
.col-s-offset-6 {margin-left: 50%;}
.col-s-offset-7 {margin-left: 58.33%;}
.col-s-offset-8 {margin-left: 66.66%;}
.col-s-offset-9 {margin-left: 75%;}
.col-s-offset-10 {margin-left: 83.33%;}
.col-s-offset-11 {margin-left: 91.66%;}

	nav {
		height: 150px;
		position: static;
	}



	.links  {
float: left;
margin-left: 25%;

	
	
	}
	
	.links ul li {
	display: block;	
	text-align: center;
	line-height: 25px;
	}


.buttons {
display: none;	
}

.banner {
	height: auto;
}


.banner .ic-desc {
	width: 100%;
	margin-bottom: 20px;
}

.featured-strap {
	height: auto;
	margin-bottom: 20px;
	float: left;
}
.shadow {
	display: none;
}


  .gallery {
	overflow: visible;
	width: 100%;
	height: auto;
	position: static;
	float: left;
}


.gallery .pic {
	width: 100%;
	height: auto;
	float: left;
	margin: 0 auto;
	display: block;
	overflow: visible;
}


.gallery .pic img {
	width: 100%;
	margin: 0;
    position: static;
    transform: none;
}

.team {
	padding-top: 40px;
	position: static;
	height: auto;
	float: left;
}

	.portrait {
	width: 90%;
	margin: 0 auto;
	padding-bottom: 20px;
}
	
	.portrait:hover{
	cursor: auto;
	}

	.portrait:hover .worker {
	display: none;
}

	.picture {
	width: 200px;
	height: 200px;
	}

	.featured-strap {
	padding: 20px 10px;	
	margin: 20px 0px;
	float: left;
	}

	.featured {
	margin: 20px auto;	
	float: left;
	}

	.advert {
	display: -webkit-flex;
	display: flex;	
	flex-wrap: wrap;
	height: auto;
	}
	
	.advert-title, .advert-text, .advert-quote {
	position: static;	
	margin: 10px 10px;
	padding: 0 0px;
	}
	
	.advert-photomix {
		display: none;
	}
	
	.numbers {
	height: auto;	
	}

	.footer {
	display: -webkit-flex;
	display: flex;	
	flex-wrap: wrap;
	height: auto;
	}

	.footer-column {
	width: 100%;
	height: auto;
	}
	
	.footer-column h2 {
	margin-bottom: 0px;	
	}

}

/* MEDIA QUERIES Z PIERWOTNEJ WERSJI ZADANIA
@media all and (min-width: 570px) and (max-width:857px) {

  .links ul li {
	line-height: 20px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 15px;
  }
  
  .logo {
  line-height: 19px;
  }
  
  nav {
  	height: 50px;
  
  }
}

@media all and (max-width:570px) {
   .links ul {
 	padding-right: 0px;
 }
 
  .links ul li {
	display: inline;
	line-height: 20px;
	padding-left: 3px;
	padding-right: 3px;
  }
	
  .links {
  	margin: 0 auto;
  	line-height: 19px;
  }
  
  nav {
  	height: 105px;
  }
}
*/

.fifth-1 {top: 0px; left: 0px;}
.fifth-2 {top: 0px; left: 20%;}
.fifth-3 {top: 0px; left: 40%;}
.fifth-4 {top: 0px; left: 60%;}
.fifth-5 {top: 0px; left: 80%;}
.fifth-6 {top: calc(20vw - 3.4px); left: 0px;}
.fifth-7 {top: calc(20vw - 3.4px); left: 20%;}
.fifth-8 {top: calc(20vw - 3.4px); left: 40%;}
.fifth-9 {top: calc(20vw - 3.4px); left: 60%;}
.fifth-10 {top: calc(20vw - 3.4px); left: 80%;}





